traitlets==5.9.0
notebook==6.5.4
jupyter-book==1.0.2
JupyterQuiz==2.6.3
seaborn==0.13.2
plotly==5.24.1
kaleido==0.2.1
ipywidgets==8.1.5
pandas==2.2.3
scikit-learn==1.5.2
rise==5.7.1
hide-code==0.7.0
yellowbrick==1.5
statsmodels==0.14.3
nltk==3.9.1
spacy==3.6.1
gensim==4.3.3
scipy==1.12.0
